<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectassistance">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="HaP"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectAssistance">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MakeComplaintsActivity" />
        <activity android:name=".MakeOrderActivity" />
        <activity android:name=".ViewClientsActivity" />
        <activity android:name=".ViewWorkersActivity" />
        <activity android:name=".ViewComplaintsActivity" />
        <activity android:name=".ViewOrdersActivity" />
        <activity
            android:name=".Admin_Dashboard"
            android:theme="@style/FullScren" />
        <activity android:name=".Register_activity" />
        <activity android:name=".Login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>